version: "3.8"

services:
  user-service:
    build: ./user-service
    container_name: user-service
    ports:
      - "5001:5001"

  product-service:
    build: ./product-service
    container_name: product-service
    ports:
      - "5002:5002"

  order-service:
    build: ./order-service
    container_name: order-service
    ports:
      - "5003:5003"

  api-gateway:
    build: ./api-gateway
    container_name: api-gateway
    ports:
      - "8000:8000"
    depends_on:
      - user-service
      - product-service
      - order-service
